@import 'variables/colors';
@import 'layout/navbar';
@import 'layout/notifications';
@import 'layout/messages';
@import 'layout/sidebar';
@import 'components/icons';
@import 'components/buttons';

body {
    background-color: $main;

    .container {
        width: 900px;
        margin: 150px 500px;
    }
}