//navbar
.fa-solid {
    color: $icons;
    font-size: 1.1rem;
}

//notifications
.notificationLeft {
    color: $notleft;
    font-size: 1rem;
}

.notificationRight {
    color: $notright;
    font-size: 1rem;
}

//sidebar
.sideBarIcon {
    color: $sidebaricon;
    font-size: 12px;
}