.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: $nav;
    padding: 10px 30px;

    &__logo {
        padding-top: 5px;
        width: 130px;
        display: flex;
        justify-content: space-between;

        img {
            width: 5.6rem;
            height: 1.2rem;
        }

        i {}
    }

    &__search {
        width: 520px;
        display: flex;
        justify-content: space-between;
    }

    &__input {
        display: flex;
        justify-content: space-between;
        padding-bottom: 3px;

        input {
            width: 450px;
            height: 22px;
            border: 2px solid $inputborder;
            margin-top: 0;
        }

        i {
            border: 2px solid $inputborder;
            font-size: 0.85rem;
            padding: 5px 20px;
            color: $searchicon;

            background-color: $serachiconbg;
        }
    }

    &__buttons {
        padding-top: 6px;
        width: 150px;
        display: flex;
        justify-content: space-between;
    }

    &__links {}
}