$main:#E6EDF1;
$icons:#555555;
$nav:#FFFFFF;
$inputborder:#DCDCDC;
$serachiconbg:#F7F7F7;
$searchicon:#959595;
$notleft:#39B117;
$notright:#C3CACB;
$nottitle:#1C282B;
$notitemborder:#dde5e5;
$notp:#98a09c;
$notitemhover:#F6FBF7;