//Main
$main:#E6EDF1;
$icons:#555555;
$nav:#FFFFFF;
$inputborder:#DCDCDC;
$serachiconbg:#F7F7F7;
$searchicon:#959595;

//Notifications
$notleft:#39B117;
$notright:#C3CACB;
$nottitle:#1C282B;
$notitemborder:#dde5e5;
$notp:#98a09c;
$notitemhover:#F6FBF7;

//Messages
$sendtextborder:#d8d4d4;
$sendtime:#BEC7D0;
$sendtextbg:#F1F8F1;
$footerplus:#CBD1D1;

//Sidebar
$getstartedfont:#BBBFC1;
$getstartedspan:#4EA6A6;
$sidebaricon:#9EABBB;
$sidebaritemhover:#E5F2F5;
$iconhover:#4EA6A6;